*{
    padding: 0;
    margin: 0;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    align-items: center;
}
ul{
    list-style: none;
}
li,button{
    cursor: pointer;
}
.nav-list{
    display: flex;
    gap: 40px;
    font-size: large;
}
body{
    background-image: url(./images/stethoscope.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center 0px;
}
main{
    padding-left: 80px;
    padding-top: 5%;
    display: flex;
}
.left-part{
    width: 50%;
}
.right-part{
    width: 50%;
}
.bottomAngle{
    position: relative;
    top: 58%;
    left: 89%;
}
.left-part h1{
    font-size: 5rem;
    padding: 10px 0px;
}
.left-part p{
    padding: 20px 0px;
}
.left-button{
    margin: 20px 20px;
    padding: 1rem 5rem;
    font-size: 1.25rem;
    background-color: rgb(73, 195, 73);
    color: #ffff;
    border-radius: 30px;
}
.right-part{
    display: flex;
    align-items: baseline;
}
.yellowBox{
    position: absolute;
    right: 0;
    align-self: center;
    z-index: 0;
}
.greenBox{
    position: absolute;
    right: 0px;
}
.doctorji{
    position: absolute;
    bottom: 0;
    right: 10px;
    align-self: center;
    z-index: 1;
}
.doctorji{
    height: 92%;
    max-height: 850px;
}
.mouse{
    position: absolute;
    top: 75%;
}
.yellowBox{
    height: 60%;
}
.greenBox{
    height: 70%;
}
.item1{
    color: rgb(73, 195, 73);
}